<div class="search-box-container container" id="login">
    <div class="search-box-title-l">UMBuys Market</div>
    <div class="search-bar-position">
      <div class="input-group col-md-12">
        <input type="text" class="form-control input-lg" placeholder="Find second-hand goods" />
        <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
      </div>
  </div>
  <a class="search-box-title-m">Post new item</a>
</div>
